body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 6em;
  background-color: #222f3f;
}

header img {
  width: 8em;
  padding-top: 0.5em;
  padding-left: 2.5em;
}

nav {
  height: 4em;
  background-color: #364759;
  color: white;
  padding-top: 0.7em;
}

nav span {
  padding-top: 1.5em;
  padding-left: 2.5em;
}

/*main*/
main {
  background-color: #e9edee;
}

#div-main {
  height: 100%;
  padding: 1.5em;
}

.first-div {
  height: 2.5em;
  color: white;
  text-align: center;
  background-color: #f56600;
}

.first-div p {
  padding-top: 0.7em;
}

.second-div {
  text-align: center;
  margin-top: 1.5em;
  height: 13em;
  color: white;
  background-image: url(./bg-image.png);
}

.second-div div {
  padding-top: 4em;
}
.second-div h3 {
  font-size: 2em;
  font-weight: bold;
}

.second-div p {
  font-size: 1.2em;
  padding-top: 1em;
  font-weight: bold;
}

.images-div {
  text-align: center;
  margin-top: 1.5em;
  background-color: white;
}

.photo {
  border-radius: 10px;

  margin: 1.5em;
  width: 21.5em;
  height: 20.5em;
}

#photo-container {
  width: 23em;
  height: 28em;
  margin: 1em;
  box-shadow: 5px 5px 5px rgb(225, 221, 221);
  background-image: url(./img_1.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 20px;
}

#photo-container1 {
  width: 23em;
  height: 28em;
  margin: 1em;
  box-shadow: 5px 5px 5px rgb(225, 221, 221);
  background-image: url(./img_2.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 20px;
}

#photo-container2 {
  width: 23em;
  height: 28em;
  margin: 1em;
  box-shadow: 5px 5px 5px rgb(225, 221, 221);
  background-image: url(./img_3.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 20px;
}

#photo-container3 {
  width: 23em;
  height: 28em;
  margin: 1em;
  box-shadow: 5px 5px 5px rgb(225, 221, 221);
  background-image: url(./img_4.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 20px;
}

.images-div p {
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-left: 1.5em;
  text-align: left;
  font-weight: bold;
}

.images-div p span {
  font-size: 0.8em;
  padding-left: 0.5em;
  color: #498799;
}

.third-div {
  height: 32em;
  margin-top: 1.5em;
}

.img-container {
  height: 30em;
  background-image: url(./img_9.png);
  background-size: cover;
  background-position: center;
}

.third-div p {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding-top: 0.3em;
}

.third-div span {
  font-size: 0.8em;
  color: #498799;
  padding-left: 0.5em;
}

.fourth-div {
  height: 32em;
  margin-top: 1.5em;
}

.img-container2 {
  height: 30em;
  background-image: url(./img_10.png);
  background-size: cover;
  background-position: center;
}

.fourth-div p {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding-top: 0.5em;
}

.fourth-div span {
  font-size: 0.8em;
  color: #498799;
  padding-left: 0.5em;
}

/*FOOTER*/

footer {
  height: 20em;
  text-align: center;
  background-color: #222f3f;
}

.a-container {
  height: 2em;
  background-color: #364759;
  padding-top: 0.5em;
}

.a-container a {
  color: white;
  font-size: 1.5em;
}

footer img {
  width: 15em;
  padding-top: 6em;
}
